<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign Up</h2>

  <hr />

  <div class="form-group">
    <input
    name="username"
    [(ngModel)]="model.username"
    type="text"
    class="form-control"
    placeholder="Username" />
  </div>

  <div class="form-group">
    <input
    name="password"
    [(ngModel)]="model.password"
    type="text"
    class="form-control"
    placeholder="Password" />
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>
